*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

body {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }

.line-break {
  width: 0; }

ul {
  list-style: none; }

a, a:link, a:visited {
  text-decoration: none;
  color: black; }

@media all and (min-width: 1025px) {
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /*  font-size: 16px; */
    color: #000;
    padding: 5rem;
    text-transform: uppercase; }
  .heading {
    padding-top: 1.5rem; }
    .heading--main {
      font-size: 7.2rem;
      font-weight: 400;
      letter-spacing: .75;
      line-height: 1.4rem; }
    .heading--sub {
      font-size: 3.6rem;
      font-weight: 300;
      letter-spacing: 1rem; }
  .nav {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1.25rem; }
  .about-container {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: .1rem;
    text-align: justify; }
    .about-container .about-title {
      font-size: 2.4rem;
      font-weight: 300; }
    .about-container .collaborations-title {
      font-size: 1.8rem;
      font-weight: 400; }
  .footer {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .25rem; }
    .footer__primary--sub {
      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: .25rem;
      padding-bottom: 1rem; }
  .created-by {
    font-size: 1.4rem;
    font-weight: 200; } }

@media all and (min-width: 0px) and (max-width: 1024px) {
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /*  font-size: 16px; */
    color: #000;
    padding: 1.5rem;
    text-transform: uppercase; }
  .heading {
    padding-top: 1rem; }
    .heading--main {
      font-size: 2.8rem;
      font-weight: 400;
      letter-spacing: .1rem;
      line-height: 1rem; }
    .heading--sub {
      font-size: 1.6rem;
      font-weight: 200;
      letter-spacing: .2rem; }
  .nav {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .3rem; }
  .about-container {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: .15rem; }
    .about-container .about-title {
      font-size: 2.4rem;
      font-weight: 300; }
    .about-container .collaborations-title {
      font-size: 1.6rem;
      font-weight: 400; }
  .footer {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .25rem; }
    .footer__primary--sub {
      font-size: 1.4rem;
      font-weight: 300;
      letter-spacing: .25rem;
      padding-bottom: 1rem; }
  .created-by {
    font-size: 1.2rem;
    font-weight: 200;
    padding-bottom: 1rem; } }

.u-center-text {
  text-align: center; }

.line-break {
  width: 100%; }

.vertical-break {
  color: transparent; }

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  text-align: center; }

@media all and (min-width: 1025px) {
  .nav {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem; }
    .nav-left {
      flex: 1; }
    .nav-right {
      flex: 1; }
  .hover-border {
    border: 3px solid transparent;
    display: inline-block;
    direction: rtl;
    text-indent: -1.25rem;
    border-spacing: 1.5rem; }
    .hover-border:hover {
      border-bottom: 1px solid lightslategrey;
      transform: translateY(-0.3rem) scale(1.15);
      direction: rtl;
      display: inline-block;
      text-indent: -1.25rem;
      border-spacing: 1.5rem;
      translate: all .2s; }
    .hover-border:active {
      transform: translateY(-0.1rem) scale(1.1);
      translate: all .2s; } }

@media all and (min-width: 0px) and (max-width: 1024px) {
  .nav {
    display: flex;
    margin-top: .5rem;
    margin-bottom: 1.5rem; }
    .nav-left {
      flex: 1; }
    .nav-right {
      flex: 1; }
    .nav .hover-border {
      border: 3px solid transparent;
      display: block; }
      .nav .hover-border:hover {
        border-bottom: 1px solid lightslategrey;
        transform: translateY(-0.3rem); }
      .nav .hover-border:active {
        transform: translateY(-0.1rem); } }

@media (min-width: 1025px) {
  .gallery .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
    grid-template-rows: repeat(41em);
    gap: .5rem;
    grid-auto-flow: dense; }
  .gallery li:nth-child(3n) {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery li:nth-last-child(-n+8) {
    grid-column: span 1;
    grid-row: span 1; }
  .gallery figure {
    height: 100%; }
  .gallery img {
    max-width: 100%;
    height: 100%;
    object-fit: cover; } }

@media (min-width: 0px) and (max-width: 1024px) {
  .gallery .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-template-rows: repeat(21em);
    gap: .25rem;
    grid-auto-flow: dense; }
  .gallery li:nth-child(4n) {
    grid-column: span 2;
    grid-row: span 2; }
  .gallery li:nth-last-child(-n+8) {
    grid-column: span 1;
    grid-row: span 1; }
  .gallery figure {
    height: 100%; }
  .gallery img {
    max-width: 100%;
    height: 100%;
    object-fit: cover; } }

@media all and (min-width: 1025px) {
  .about-container {
    display: flex;
    margin: 5rem 20rem 5rem 20rem; }
    .about-container img {
      border-radius: 2rem;
      width: 100%; }
    .about-container li {
      padding-top: 1.5rem; }
  .about-left {
    display: flex;
    margin-right: 5rem;
    max-width: 20vw; }
  .about-title {
    border-bottom: 2px solid lightgrey;
    display: inline-block; }
  .collaborations {
    margin-top: .75rem; }
    .collaborations li {
      padding-top: .25rem; } }

@media all and (min-width: 0) and (max-width: 1024px) {
  .about-container {
    display: flex;
    flex-direction: column; }
    .about-container img {
      text-align: center;
      border-radius: 2rem;
      width: 75%;
      margin-bottom: 2rem;
      margin-top: 1rem;
      height: auto; }
    .about-container li {
      padding-top: 1.5rem; }
  .about-right {
    text-align: center;
    width: 80%;
    margin: 0 auto; }
  .about-title {
    border-bottom: 2px solid lightgrey;
    display: inline-block; }
  .collaborations {
    margin-top: .75rem; }
    .collaborations li {
      padding-top: .25rem; }
  .footer {
    margin-top: 3rem; } }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .about-right {
    text-align: justify; }
  .about-container img {
    width: 40%; } }
