@media all and (min-width: $desktop-screen) {

    .about {
        &-container {
            display: flex;
            margin: 5rem 20rem 5rem 20rem;

            img {
                border-radius: 2rem;
                width: 100%;
            }

            li {
                padding-top: 1.5rem;
            }

        }
        &-left {
            display: flex;
            margin-right: 5rem;
            max-width: 19.5vw;
        }

        &-title {
            border-bottom: 2px solid lightgrey;
            display: inline-block;
        }

    }

    .collaborations {
        margin-top: 1rem;
        
        li {
            padding-top: .25rem;
        }
    }
}

@media all and (min-width: 0) and (max-width: $mobile-screen) {
    .about {
        &-container {
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
            margin-right: 1rem;

            img {
                border-radius: 1rem;
                width: 100%;
                height: auto;
                max-height: 40vh;
            }

            li {
                padding-top: .5rem;
            }

        }
        &-left {
            margin-right: 1.5rem;
            justify-self: center;
            max-width: 100%;
        }
        &-right {
    
        }

    }
}